body {
  font-family: 'Nunito Sans', sans-serif;
  color: #444;
  background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Halant', sans-serif;
}

label {
  display: block;
  margin-bottom: 0.25rem;
}

input {
  display: block;
  margin-bottom: 0.75rem;
}

.container {
  width: 480px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 0;
  border: 1px solid #f6f6f6;
}

li + li {
  border-top: none;
}

li a {
  padding: 0.5rem;
  display: block;
  text-decoration: none;
  color: #00a;
}

li a:hover {
  background-color: #fff;
}

.button {
  background-color: #32b643;
  border: none;
  color: white;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.alert-success {
  background: #dcffe1;
  border-color: #32b643;
  padding: 0.5rem;
  text-align: center;
}
